
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Галерия</h1>

<div class="text-center">
    <h2>Снимки от двора</h2>
    <a class="gallery" href="~/Files/Gallery/Yard/Krapets_Holiday_1.jpg" data-lightbox="yard-set" data-title="">
        <img src="~/Files/Gallery/Yard/thumb/Krapets_Holiday_1_thumb.jpg" alt="Yard photo 1" />
    </a>
    <a class="gallery" href="~/Files/Gallery/Yard/Krapets_Holiday_1a.jpg" data-lightbox="yard-set" data-title="">
        <img src="~/Files/Gallery/Yard/thumb/Krapets_Holiday_1a_thumb.jpg" alt="Yard photo2" />
    </a>
    <a class="gallery" href="~/Files/Gallery/Yard/Krapets_Holiday_1b.jpg" data-lightbox="yard-set" data-title="">
        <img src="~/Files/Gallery/Yard/thumb/Krapets_Holiday_1b_thumb.jpg" alt="Yard photo 3" />
    </a>
    <a class="gallery" href="~/Files/Gallery/Yard/Krapets_Holiday_1c.jpg" data-lightbox="yard-set" data-title="">
        <img src="~/Files/Gallery/Yard/thumb/Krapets_Holiday_1c_thumb.jpg" alt="Yard photo 4" />
    </a>
    <a class="gallery" href="~/Files/Gallery/Yard/Krapets_Holiday_1d.jpg" data-lightbox="yard-set" data-title="">
        <img src="~/Files/Gallery/Yard/thumb/Krapets_Holiday_1d_thumb.jpg" alt="Yard photo 5" />
    </a>
</div>

<div class="text-center">
    <h2>Нашата лятна кухня</h2>
    <a class="gallery" href="~/Files/Gallery/SummerKitchen/Krapets_Holiday_6.jpg" data-lightbox="summer-kitchen-set" data-title="">
        <img src="~/Files/Gallery/SummerKitchen/thumb/Krapets_Holiday_6_thumb.jpg" alt="Summer kitchen photo 1" />
    </a>
    <a class="gallery" href="~/Files/Gallery/SummerKitchen/Krapets_Holiday_6a.jpg" data-lightbox="summer-kitchen-set" data-title="">
        <img src="~/Files/Gallery/SummerKitchen/thumb/Krapets_Holiday_6a_thumb.jpg" alt="Summer kitchen photo 2" />
    </a>
    <a class="gallery" href="~/Files/Gallery/SummerKitchen/Krapets_Holiday_6b.jpg" data-lightbox="summer-kitchen-set" data-title="">
        <img src="~/Files/Gallery/SummerKitchen/thumb/Krapets_Holiday_6b_thumb.jpg" alt="Summer kitchen photo 3" />
    </a>
    <a class="gallery" href="~/Files/Gallery/SummerKitchen/Krapets_Holiday_6c.jpg" data-lightbox="summer-kitchen-set" data-title="">
        <img src="~/Files/Gallery/SummerKitchen/thumb/Krapets_Holiday_6c_thumb.jpg" alt="Summer kitchen photo 4" />
    </a>
    <a class="gallery" href="~/Files/Gallery/SummerKitchen/Krapets_Holiday_6d.jpg" data-lightbox="summer-kitchen-set" data-title="">
        <img src="~/Files/Gallery/SummerKitchen/thumb/Krapets_Holiday_6d_thumb.jpg" alt="Summer kitchen photo 5" />
    </a>
</div>

<div class="text-center">
    <h2>Къща за четири човека</h2>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_4.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_4_thumb.jpg" alt="House for 4 photo 1" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_4a.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_4a_thumb.jpg" alt="House for 4 photo 2" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_4b.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_4b_thumb.jpg" alt="House for 4 photo 3" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_4c.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_4c_thumb.jpg" alt="House for 4 photo 4" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_4d.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_4d_thumb.jpg" alt="House for 4 photo 5" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_5.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_5_thumb.jpg" alt="House for 4 photo 6" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor4/Krapets_Holiday_5a.jpg" data-lightbox="house4-set" data-title="">
        <img src="~/Files/Gallery/HouseFor4/thumb/Krapets_Holiday_5a_thumb.jpg" alt="House for 4 photo 7" />
    </a>
</div>

<div class="text-center">
    <h2>Къща за шест човека</h2>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_2.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_2_thumb.jpg" alt="House for 6 photo 1" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_2a.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_2a_thumb.jpg" alt="House for 6 photo 2" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_2b.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_2b.jpg" alt="House for 6 photo 3" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_2c.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_2c_thumb.jpg" alt="House for 6 photo 4" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_2d.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_2d_thumb.jpg" alt="House for 6 photo 5" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_3.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_3_thumb.jpg" alt="House for 6 photo 6" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_3a.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_3a_thumb.jpg" alt="House for 6 photo 7" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_3b.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_3b_thumb.jpg" alt="House for 6 photo 8" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_3c.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_3c_thumb.jpg" alt="House for 6 photo 9" />
    </a>
    <a class="gallery" href="~/Files/Gallery/HouseFor6/Krapets_Holiday_3d.jpg" data-lightbox="house6-set" data-title="">
        <img src="~/Files/Gallery/HouseFor6/thumb/Krapets_Holiday_3d_thumb.jpg" alt="House for 6 photo 10" />
    </a>
</div>

@Scripts.Render("~/bundles/Lightbox/lightbox")
@Styles.Render("~/Content/Lightbox/lightbox")

