@{
    ViewBag.Title = "Начало";
}

@section slideshow{
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="~/Files/Images/Slideshow/slideshow-see.jpg" alt="Slideshow see" /></div>
        <div class="item"><img src="~/Files/Images/Slideshow/slideshow-houses.jpg" alt="Slideshow houses" /></div>
        <div class="item"><img src="~/Files/Images/Slideshow/slideshow-birds.jpg" alt="Slideshow birds" /></div>
    </div>

    @*@Scripts.Render("~/bundles/OwlCarousel/owlcarouselScript")
    @Styles.Render("~/Content/OwlCarousel/owlcarouselCss")
    @Scripts.Render("~/bundles/main-script")*@
}

<div class="welcome-note">
    <div class="home-image"><img src="~/Files/Images/house-home.jpg" /></div>
    <h1>ДОБРЕ ДОШЛИ В КОМПЛЕКС "КРАПЕЦ ХОЛИДЕЙ"</h1>

    <p>"Крапец Холидей" е комплекс от нови къщи в края на село Крапец, само на няколко минути с кола от красивата, девствена, безкрайна плажна ивица. На плажа има и обезопасена част със спасител и места за обяд или освежително питие.</p>

    <p>Комплексът предлага на своите гости четири едноетажни къщи:</p>
    <ul>
        <li>Две с дневна с оборудвана кухня и разтегателен диван и една спалня (капацитет 4 човека)</li>
        <li>Две с дневна с оборудвана кухня и разтегателен диван и две спални (капацитет 6 човека)</li>

    </ul>

    <p>Лятна кухня - изцяло оборудвана и разполагаща със закрита площ с маси за около 20 човека.</p>
    <p>Във всяка от къщите има климатик и телевизор с Булсатком. Двора е голям, ограден, озеленен, идеален и за игри и за почивка.</p>
</div>

@section googlemap{
    <h3 class="text-center">Тук може да ни намерите</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = { lat: 43.6267589, lng: 28.5639773 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng,
                scrollwheel: false
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Крапец Холидей'
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCoZHn4cE1JX7cTy1XfhK5h4rxUcI4b8c&callback=initMap">
    </script>
}