@model Hotel.App.Models.ViewModels.ReviewVewModel

<div class="row single-review">
    <div class="col-sm-offset-2 col-md-2 col-sm-3 text-center author-info">
        <div class="review-author">@Model.Author.UserName</div>
        <div class="review-date">@Model.CreationDate</div>
        <div class="empty-starts text-center"></div>
    </div>

    <div class="col-md-8 col-sm-7  text-left review-body">
        <div>@Model.Content</div>
        <a href="~/Reviews/Details?id=@Model.Id"><div class="review-cimments"><i>коментари</i> @Model.CommentsCount</div></a>
    </div>
</div>
