@font-face {
    font-family: 'MIROSLN';
    src: url(/fonts/MIROSLN.ttf) format('truetype');
}

/* #region footer pusher*/
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -150px;
}

.footer, .push {
    height: 150px;
}
/* #endregion footer pusher*/

/*#region header */
.header {
    color: #fff;
}

.header-container-left {
    margin-top: 16px;
}

.header-container-right {
    margin-top: 30px;
}

.header-container-middle, .footer-container-middle {
    text-align: center;
}

    .header-container-middle img, .footer-container-middle img {
        float: none;
        padding: 5px 0;
    }

.header-section, .footer-section-top {
    background-color: #4cb4b8;
}

.navigation-section, .footer-section-bottom {
    background-color: #73c2c8;
}

.navigation a, .navbar-header button, .reviews-container a, .footer-section-top, .footer-section-bottom, .header-location a, .footer-container-right a {
    color: #fff;
}

.navbar-header span {
    background: #fff;
}

.nav li a:hover {
    color: #4cb4b8;
    background-color: #73c2c8;
}

.reviews-container {
    padding-left: 30px;
}

.header-location {
    padding-right: 13px;
}

.review-stars img {
    width: 20px;
    height: 20px;
}
/*#endregion header */

/* #region slideshow*/
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
/* endregion slideshow*/

/* region footer*/
.facebook-icon{
    background: url('../Files/Images/facebook-icon.png') no-repeat center center;
}

.google-icon{
     background: url('../Files/Images/google-plus-icon.png') no-repeat center center;
}

.facebook-icon, .google-icon {
    
    height: 40px;
    width: 40px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.facebook-icon:hover, .google-icon:hover {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    transition: all linear 0.3s;
}

.footer-container-left {
    margin: 30px 0 10px;
}

.footer-container-right {
    margin-top: 30px;
}

.footer-section-bottom {
    padding: 10px;
}

.bottom {
    margin-top: 10px;
}
/*#endregion footer */

/* #region home page*/
.welcome-note {
    font: 18px MIROSLN;
    margin: 100px 0;
}

h1 {
    font: 28px MIROSLN;
    color: #ff0000;
}

.home-image {
    float: right;
    margin: 0 0 20px 20px;
}

#map {
    width: 100%;
    height: 400px;
    border-top: 5px solid #4cb4b8;
}
/* #endregion home page*/

/* #region Reviews */
.review-title {
    margin-left: 20px;
    margin-bottom: 50px;
}

.leave-review {
    margin-bottom: 150px;
}

.empty-starts {
    height: 19px;
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 0 -25px;
    background-position-x: center;
}

.single-review {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.author-info {
    border-right: 1px solid #CCC;
}

.form-group textarea {
    max-width: 100%;
}

.review-detail-wrapper {
    margin-bottom: 20px;
}

    .review-detail-wrapper .empty-starts {
        background-position-x: left;
    }

    .review-detail-wrapper div {
        margin-bottom: 5px;
    }

.userRating {
    height: 19px;
    width: 102px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 1px 0;
    background-position-x: center;
}

    .userRating li {
        float: left;
        height: 19px;
        width: 20px;
    }

    .userRating li:first-child {
        width: 2px;
    }

     .userRating li:hover {
       cursor: pointer;
    }

.creare-review-rating {
    padding-left: 25px;
}

.single-comment{
    margin: 20px 0;
}
/* #endregion Reviews */

/* #region Gallery */
.gallery img {
    margin: 5px;
}
/* #endregion Gallery */

/* #region Account */
.remember-me {
    margin-left: 20px;
}
/* #endregion Account*/

/* #region Default queries */
@media (max-width: 770px) {
    .header-container-left, .header-container-middle, .header-container-right,
    .footer-container-middle, .footer-container-right {
        text-align: center;
        margin: 0;
    }

    .footer-container-left {
        text-align: center;
        margin: 10px;
    }

    .reviews-container, .header-location {
        padding: 0;
    }

    .home-image {
        float: none;
        text-align: center;
    }

    .review-body {
        text-align: center;
    }
}
/* #endregion default queries*/
