@font-face {
    font-family: 'MIROSLN';
    src: url(/fonts/MIROSLN.ttf) format('truetype');
}

.global-message {
    text-align: center;
    display: block;
}

.global-message a{
    position: absolute;
    top: 0;
    right: 0;
}

/* #region footer pusher*/
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -150px;
}

.footer, .push {
    height: 150px;
}
/* #endregion footer pusher*/

/*#region header */
.header {
    color: #fff;
}

.header-container-left {
    margin-top: 16px;
}

.header-container-right {
    margin-top: 30px;
}

.header-container-middle, .footer-container-middle {
    text-align: center;
}

    .header-container-middle img, .footer-container-middle img {
        float: none;
        padding: 5px 0;
    }

.header-section, .footer-section-top {
    background-color: #4cb4b8;
}

.navigation-section, .footer-section-bottom {
    background-color: #73c2c8;
}

.navigation a, .navbar-header button, .reviews-container a, .footer-section-top, .footer-section-bottom, .header-location a, .footer-container-right a {
    color: #fff;
}

.navbar-header span {
    background: #fff;
}

.nav li a:hover {
    color: #4cb4b8;
    background-color: #73c2c8;
}

.reviews-container {
    padding-left: 30px;
}

.header-location {
    padding-right: 13px;
}

.review-stars img {
    width: 20px;
    height: 20px;
}
/*#endregion header */

/* #region slideshow*/
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
/* endregion slideshow*/

/* region footer*/
.facebook-icon {
    background: url('../Files/Images/facebook-icon.png') no-repeat center center;
}

.google-icon {
    background: url('../Files/Images/google-plus-icon.png') no-repeat center center;
}

.facebook-icon, .google-icon {
    height: 40px;
    width: 40px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

    .facebook-icon:hover, .google-icon:hover {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
        transition: all linear 0.3s;
    }

.footer-container-left {
    margin: 30px 0 10px;
}

.footer-container-right {
    margin-top: 30px;
}

.footer-section-bottom {
    padding: 10px;
}

.footer-author {
    display: inline-block;
}

.bottom {
    margin-top: 10px;
}
/*#endregion footer */

/* #region home page*/
.welcome-note {
    font: 18px MIROSLN;
    margin: 100px 0;
}

h1 {
    font: 28px MIROSLN;
    color: #ff0000;
}

.home-image {
    float: right;
    margin: 0 0 20px 20px;
}

#map {
    width: 100%;
    height: 400px;
    border-top: 5px solid #4cb4b8;
}
/* #endregion home page*/

/* #region Reviews */
.review-title {
    margin-left: 20px;
    margin-bottom: 50px;
}

.leave-review {
    margin-bottom: 150px;
}

.empty-starts {
    height: 19px;
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 0 -25px;
    background-position-x: center;
}

.single-review {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.author-info {
    border-right: 1px solid #CCC;
}

.form-group textarea {
    max-width: 100%;
}

.review-detail-wrapper {
    margin-bottom: 20px;
}

    .review-detail-wrapper .empty-starts {
        background-position-x: left;
    }

    .review-detail-wrapper div {
        margin-bottom: 5px;
    }

.userRating {
    height: 19px;
    width: 102px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 1px 0;
    background-position-x: center;
}

    .userRating li {
        float: left;
        height: 19px;
        width: 20px;
    }

        .userRating li:first-child {
            width: 2px;
        }

        .userRating li:hover {
            cursor: pointer;
        }

.creare-review-rating {
    padding-left: 25px;
}

.single-comment {
    margin: 20px 0;
}

.review-raiting {
    width: 102px;
    height: 20px;
    margin: 0 auto;
}

.detail-raiting {
    width: 102px;
    height: 20px;
    margin: 0;
}

.review-0star {
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 0 -25px;
}

.review-1star {
    background: url(/Files/Images/raiting-1star.jpg) no-repeat center center;
}

.review-2star {
    background: url(/Files/Images/raiting-2star.jpg) no-repeat center center;
}

.review-3star {
    background: url(/Files/Images/raiting-3star.jpg) no-repeat center center;
}

.review-4star {
    background: url(/Files/Images/raiting-4star.jpg) no-repeat center center;
}

.review-5star {
    background: url(/Files/Images/stars_sprite_icon.png) no-repeat 0 0;
}
/* #endregion Reviews */

/* #region Gallery */
.gallery img {
    margin: 5px;
}
/* #endregion Gallery */

/* #region Account */
.remember-me {
    margin-left: 20px;
}
/* #endregion Account*/

/* #region ContactUs*/
.aboutus-wrapper {
    margin-top: 50px;
}

.contactus-element div {
    margin-bottom: 10px;
}

.contactus-element:hover {
    cursor: pointer;
}

.aboutus-background {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s linear;
}

.envelope-background {
    background: url('../Files/Images/envelope.png') no-repeat center center;
}

.phone-background {
    background: url('../Files/Images/phone-icon.png') no-repeat center center;
}

.skype-background {
    background: url('../Files/Images/skype-icon.png') no-repeat center center;
}

.facebook-background {
    background: url('../Files/Images/facebook-black-icon.png') no-repeat center center;
}

.icon-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #A3CCFF;
    margin: auto;
}

.aboutus-background:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s linear;
    border: 2px solid transparent;
}

.aboutus-background:hover:after {
    border: 2px solid #4cb4b8;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
}

.contactus-google-map {
    margin-top: 100px;
}

    .contactus-google-map #map {
        border-top: none;
    }

.close-email {
    width: 30px;
    height: 30px;
    background: url('../Files/Images/red-x-icon.png') no-repeat;
    position:absolute;
    top:-5px;
    right:-5px;
    z-index: 1000;
}

.email-form-wrapper {
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width:640px;
    background: #808080;
    background-position: top right;
    opacity: 0.9;
    border: 1px solid #000;
    z-index: 999;
}

.email-form-wrapper .form-horizontal{
    margin-top:20px;
}

.email-form-wrapper .form-group{
    margin: 0 0 20px 20px;
}

.email-content > *{
    display:block;
}

.success-email-send {
    text-align: center;
    display: none;
}
/* #endregion ContactUs*/

/* #region Appointment*/
.appointment-form{
    margin-top: 50px;
    max-width:640px;
}

.appointment-section{
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #73c2c8;
}

.appointment-form .control-label{
    text-align: left;
    margin-top: 5px;
    padding-left:0;
}

.appointment-form .form-group{
    padding-bottom: 30px;
}

.submit-appointment .btn{
    width: 100%;
    display: block;
}

.appointment-form .appointment-section:nth-child(2){
    margin-top:70px;
}
/* #endregion Appointment*/

/* region Admin panel*/
.admin-form, .admin-form label, .admin-form .form-group{
    margin:0;
    padding:0;
}

.admin-form .row{
    padding-bottom:30px;
}

.admin-form .btn{
    margin-top:11px;
}

/* endregion Admin panel*/

/* #region Default queries */
@media (max-width: 770px) {
    .header-container-left, .header-container-middle, .header-container-right,
    .footer-container-middle, .footer-container-right, .footer-section-bottom {
        text-align: center;
        margin: 0;
    }

    .footer-container-left {
        text-align: center;
        margin: 10px;
    }

    .reviews-container, .header-location {
        padding: 0;
    }

    .home-image {
        float: none;
        text-align: center;
    }

    .review-body {
        text-align: center;
    }
}
/* #endregion default queries*/