<!DOCTYPE html>
<html>
<head>
    <title>Appointment</title>
    <meta charset="utf-8" />
</head>
<body>
    
    <table style="width:600px;">
        <tr>
            <td><h1>Резервация</h1></td>
            <td></td>
        </tr>
        <tr>
            <td style="width:100px; padding-bottom:10px;">ИМЕ:</td>
            <td>[TEMPLATE_NAME]</td>
        </tr>
        <tr>
            <td style="width:100px; padding-bottom:10px;">ФАМИЛИЯ:</td>
            <td>[TEMPLATE_LAST_NAME]</td>
        </tr>
        <tr>
            <td  style="width:100px; padding-bottom:10px;">Имейл:</td>
            <td>[TEMPLATE_EMAIL]</td>
        </tr>
        <tr>
            <td  style="width:100px; padding-bottom:10px;">Телефон:</td>
            <td>[TEMPLATE_PHONE]</td>
        </tr>
        <tr>
            <td  style="width:100px; padding-bottom:10px;">От дата:</td>
            <td>[TEMPLATE_START_DATE]</td>
        </tr>
        <tr>
            <td  style="width:100px; padding-bottom:10px;">До дата:</td>
            <td>[TEMPLATE_END_DATE]</td>
        </tr>
        <tr>
            <td  style="width:100px; padding-bottom:10px;">Брой къщи:</td>
            <td>[TEMPLATE_COUNT]</td>
        </tr>
    </table>
</body>
</html>
