@model Hotel.Models.ReviewComment

<div class="row single-comment">
    <div class="col-md-8 col-sm-7  text-left review-body">
        <div>@Model.Content</div>
        <div>@Model.Author.UserName</div>
        <div>@Model.CreationTime</div>
        @if (Model.IsPublished)
        {
            <a href="#">Скрий</a>
        }
        else
        {
            <a href="#">Публикувай</a>
        }

    </div>
</div>