<h1 class="text-center">Свържете се с нас</h1>

<div class="aboutus-wrapper">
    <div class="contactus-element col-sm-3">
        <a href="#">
            <div class="icon-wrapper"><div class="aboutus-background envelope-background"></div></div>
            <div class="text-center">ИМЕЙЛ</div>
            <div class="text-center">holiday@gmail.com</div>
        </a>
    </div>

    <div class="contactus-element col-sm-3">
        <a href="tel:0888888888">
            <div class="icon-wrapper"><div class="aboutus-background phone-background"></div></div>
            <div class="text-center">ТЕЛЕФОН</div>
            <div class="text-center">0888 888 888</div>
        </a>
    </div>

    <div class="contactus-element col-sm-3">
        <a href="#">
            <div class="icon-wrapper"><div class="aboutus-background skype-background"></div></div>
            <div class="text-center">СКАЙП</div>
            <div class="text-center">Обади ни се</div>
        </a>
    </div>

    <div class="contactus-element col-sm-3">
        <a href="@Resources.FacebookUrl">
            <div class="icon-wrapper"><div class="aboutus-background facebook-background"></div></div>
            <div class="text-center">ФЕЙСБУК</div>
            <div class="text-center">Харесай ни</div>
        </a>
    </div>
</div>
