@if (TempData.ContainsKey("message"))
{
    <div class="col-sm-6 alert alert-success global-message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["message"]</strong>
    </div>
}