@if (TempData.ContainsKey("message"))
{
    <div class="col-sm-offset-2 col-sm-8 alert alert-info global-message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["message"]</strong>
    </div>
}