@model HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Заключен.</h1>
    <h2 class="text-danger">Акаунта ви е заключен, опитайте по-късно.</h2>
</hgroup>
