@model System.Collections.Generic.IEnumerable<Hotel.App.Models.ViewModels.ReviewVewModel>

@{
    ViewBag.Title = "Отзиви";
}

<h1 class="text-center">Отзиви</h1>

@Html.DisplayForModel()

<div class="leave-review">
    <a href="/Reviews/Create" class="btn btn-primary col-sm-4" title="Напишете отзив">Напишете отзив</a>
</div>
